// utilities
@import "../../../Utilities/variables";

.navbarContainer {
  background-color: $website-blue;
  box-shadow: 0px 3px 10px 1px rgb(37, 37, 37);
  padding: 2rem;
  width: 100vw;
  position: fixed; // takes space absolutely
  top: 0;
}
.navbar {
  min-width: 30rem;
  max-width: 120rem;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > ul {
    list-style-type: none;
    & > li {
      display: inline; // make it an horizontal list
      margin-right: 2rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }

  &__link {
    transition: all 0.2s;
    &:hover {
      color: $website-green;
    }
  }

  &__active-link {
    color: $website-green;
  }
}
