// * utilities
@import "../../../Utilities/variables";

.heroContainer {
  // img from Unsplash
  background-image: url("../../../Assets/Images/hero-img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(122, 122, 122);
  height: 40rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  &__header {
    color: rgb(255, 255, 255);
    text-align: center;

    font-size: 2.2rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
  }
  &__header-btn {
    padding: 1.2rem 1.4rem;
    margin-top: 2rem;
    background-color: $website-gray;
    font-size: 1.8rem;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: all 0.1s;
    box-shadow: 2px 2px 3px 0px black;
    &:hover {
      background-color: $website-green;

      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

@media (max-width: 700px) {
  .hero {
    &__header {
      font-size: 2rem;
    }
  }
}
